<a href="https://colab.research.google.com/github/PratikshaShetty5618/10DaysML/blob/master/Day3_loan_cereal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Importing Library
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

In [0]:
# Reading the training dataset in a dataframe using Pandas
df = pd.read_csv("http://iali.in/datasets/loan_status_train.csv")

In [0]:
df.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [0]:
# Add both ApplicantIncome and CoapplicantIncome to TotalIncome
df['TotalIncome'] = df['ApplicantIncome'] + df['CoapplicantIncome']

# Perform log transformation of LoanAmount to make it closer to normal
df['LoanAmount_log'] = np.log(df['LoanAmount'])

# Perform log transformation of TotalIncome to make it closer to normal
df['TotalIncome_log'] = np.log(df['TotalIncome'])

In [0]:
# Replace missing value of Self_Employed with more frequent category
df['Self_Employed'].fillna('No',inplace=True)

#Imputing Missing values with mean for continuous variable
df['LoanAmount'].fillna(df['LoanAmount'].mean(), inplace=True)
df['LoanAmount_log'].fillna(df['LoanAmount_log'].mean(), inplace=True)
df['TotalIncome_log'].fillna(df['TotalIncome_log'].mean(), inplace=True)
df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mean(), inplace=True)
df['ApplicantIncome'].fillna(df['ApplicantIncome'].mean(), inplace=True)
df['CoapplicantIncome'].fillna(df['CoapplicantIncome'].mean(), inplace=True)

#Imputing Missing values with mode for categorical variables
df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)
df['Married'].fillna(df['Married'].mode()[0], inplace=True)
df['Dependents'].fillna(df['Dependents'].mode()[0], inplace=True)
df['Credit_History'].fillna(df['Credit_History'].mode()[0], inplace=True)

In [0]:
# Convert all non-numeric values to number
cat_cols = ['Credit_History','Dependents','Gender','Married','Education','Property_Area','Self_Employed']

for var in cat_cols:
    le = preprocessing.LabelEncoder()
    df[var]=le.fit_transform(df[var].astype('str'))
df.dtypes

Loan_ID               object
Gender                 int64
Married                int64
Dependents             int64
Education              int64
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History         int64
Property_Area          int64
Loan_Status           object
TotalIncome          float64
LoanAmount_log       float64
TotalIncome_log      float64
dtype: object

In [0]:
#Splitting the dataset into Training and Test set
from sklearn.model_selection import train_test_split
predictors_Logistic=['Credit_History','Education','Gender']
X = df[list(predictors_Logistic)].values
Y = df["Loan_Status"].values
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [0]:
#Generic function for making a classification model and accessing performance:

def classification_model(model, data, predictors, outcome):
    #Fit the model:
    model.fit(data[predictors],data[outcome])
  
    #Make predictions on training set:
    predictions = model.predict(data[predictors])
  
    #Print accuracy
    accuracy = metrics.accuracy_score(predictions,data[outcome])
    print ("Accuracy : %s" % "{0:.3%}".format(accuracy))

    #Fit the model again so that it can be refered outside the function:
    model.fit(data[predictors],data[outcome])

In [0]:
from sklearn.linear_model import LogisticRegression
import sklearn.metrics as metrics
from sklearn.model_selection import KFold

# Create logistic regression object
model = LogisticRegression()

# Train the model using the training sets
model.fit(x_train, y_train)

#Predict Output
predicted= model.predict(x_test)

#Reverse encoding for predicted outcome
#predicted = le.inverse_transform(predicted)

outcome_var = 'Loan_Status'

classification_model(model, df,predictors_Logistic,outcome_var)
print()
# define one new instance
print("*****Example to test classification*****")
ch = int(input("Enter Credit History: "))
ed = int(input("Enter Education: 1-->graduate 0-->Non-Graduate "))
gender = int(input("Enter Gender: 1-->Male 0-->Female "))
Xnew = [[ch, ed, gender]]
# make a prediction
ynew = model.predict(Xnew)
print()
print("Prediction = %s" % (ynew[0]))

Accuracy : 80.945%

*****Example to test classification*****
Enter Credit History: 1
Enter Education: 1-->graduate 0-->Non-Graduate 0
Enter Gender: 1-->Male 0-->Female 0

Prediction = Y

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

df = pd.read_csv("http://iali.in/datasets/cereal.csv")

#Splitting the dataset into Training and Test set
predictors_Linear=['sugars','protein','fat','calories','fiber']
X = df[list(predictors_Linear)].values
Y = df["rating"].values
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

# Create logistic regression object
model = LinearRegression()

# Train the model using the training sets
model.fit(x_train, y_train)

#Predict Output
predicted= model.predict(x_test)

#Reverse encoding for predicted outcome
#predicted = le.inverse_transform(predicted)

outcome_var = 'rating'

print("Accuracy: "+str(r2_score(y_test,predicted)*100)+"%")
print()
# define one new instance
print("*****Example to test prediction*****")
sg = int(input("Enter Sugar: "))
pr = int(input("Enter Protein: "))
fat = int(input("Enter Fat: "))
cal = int(input("Enter Calories: "))
fiber = float(input("Enter Fiber: "))
Xnew = [[sg,pr,fat,cal,fiber]]
# make a prediction
ynew = model.predict(Xnew)
print()
print("Prediction = %s" % (ynew[0]))

Accuracy: 90.23828555925195%

*****Example to test prediction*****
Enter Sugar: 5
Enter Protein: 4
Enter Fat: 1
Enter Calories: 70
Enter Fiber: 9

Prediction = 68.16346985926454

In [0]:
df.head()

                        name mfr type  calories  ...  shelf  weight  cups     rating
0                  100% Bran   N    C        70  ...      3     1.0  0.33  68.402973
1          100% Natural Bran   Q    C       120  ...      3     1.0  1.00  33.983679
2                   All-Bran   K    C        70  ...      3     1.0  0.33  59.425505
3  All-Bran with Extra Fiber   K    C        50  ...      3     1.0  0.50  93.704912
4             Almond Delight   R    C       110  ...      3     1.0  0.75  34.384843

[5 rows x 16 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
name        77 non-null object
mfr         77 non-null object
type        77 non-null object
calories    77 non-null int64
protein     77 non-null int64
fat         77 non-null int64
sodium      77 non-null int64
fiber       77 non-null float64
carbo       77 non-null float64
sugars      77 non-null int64
potass      77 non-null int64
vitamins    77 non-null int64
shelf       77 non-null int64
weight      77 non-null float64
cups        77 non-null float64
rating      77 non-null float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB